<!DOCTYPE html>
<html>

<head>

    {include file="common/header" /}
    <!-- Data Tables -->
    <link href="/static/backend/hplus/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <a href="<{:url('game/index')}>" class="btn btn-sm btn-primary "><strong>返回</strong></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form role="form" id="gd_form" action="<{:url('game/add')}>" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">游戏名称</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="gname" placeholder="游戏名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">游戏标识</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="flag" placeholder="游戏标识">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">链接地址</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="url" placeholder="链接地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary pull-left m-t-n-xs" type="button" id="gb_button">保存内容
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 全局js -->
{include file="common/footer" /}
<script src="/static/backend/hplus/js/plugins/jeditable/jquery.jeditable.js"></script>
<!-- Data Tables -->
<script src="/static/backend/hplus/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/backend/hplus/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- 自定义js -->
<script src="/static/backend/hplus/js/content.js?v=1.0.0"></script>

<!-- layerDate plugin javascript -->
<script src="/static/backend/hplus/js/plugins/layer/laydate/laydate.js"></script>
<!-- Page-Level Scripts -->
<script>
    $(document).ready(function () {
        $('#gb_button').click(function () {//点击按钮提交
            $.ajax({
                type: "POST",
                url: $('#gd_form').attr("action"),
                data: {'data': $('#gd_form').serialize()},
                async: false,
                error: function (request) {
                    layer.msg('网络错误', {icon: 1});
                },
                success: function (data) {
                    if (data.status == 1) {
                        layer.msg(data.msg, {time: 5000, icon: 1});
                        window.location.replace(data.url);
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                }
            });
            return false;
        });
        laydate({elem: '#expiration', event: 'focus'});
    });
</script>
</body>
</html>
