<!DOCTYPE html>
<html>

<head>

    {include file="common/header" /}
    <!-- Data Tables -->
    <link href="/static/backend/hplus/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <a href="<{:url('landing/index')}>" class="btn btn-sm btn-primary "><strong>返回</strong></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form role="form" id="gd_form" action="<{:url('landing/add')}>" method="post" class="form-horizontal">
                    <div class="form-group">
                            <label class="col-sm-4 control-label">游戏</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="gid" id="game">
                                    {volist name="games" id="game"}
                                    <option value="<{$game.gid}>"><{$game.gname}></option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

                         <div class="form-group">
                            <label class="col-sm-4 control-label">游戏页面链接(初始)</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="url_s" id="status">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">更改为</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="gid1" id="gname">
                                    {volist name="games" id="game"}
                                    <option value="<{$game.gid}>"><{$game.gname}></option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

                         <div class="form-group">
                            <label class="col-sm-4 control-label">游戏页面链接(更改后)</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="url_s1" id="page">
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                            <input type="submit" name="" id="input" value="保存内容" style="background:#1AB394; color:white; width:90px;height:35px;">
                            <!-- <button class="btn btn-primary pull-left m-t-n-xs" type="button" id="gb_button">保存内容</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 全局js -->
{include file="common/footer" /}
<script src="/static/backend/hplus/js/plugins/jeditable/jquery.jeditable.js"></script>
<!-- Data Tables -->
<script src="/static/backend/hplus/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/backend/hplus/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- 自定义js -->
<script src="/static/backend/hplus/js/content.js?v=1.0.0"></script>

<!-- layerDate plugin javascript -->
<script src="/static/backend/hplus/js/plugins/layer/laydate/laydate.js"></script>
<!-- Page-Level Scripts -->
<script>
   
    $("select#game").change(function(){
        var gid = $(this).val();
        $("#status").empty();
       $.ajax({
                type: "POST",
                url: "<{:url('landing/addget')}>",
                data: {'gid': gid},
                async: false,
                error: function (request) {
                    layer.msg('网络错误', {icon: 1});
                },
                success: function (data) {
                    console.log(data);
                        for(j = 0,len=data.length; j < len; j++) {
                            var html = "<option  value='"+data[j]['page_url']+"'>"+data[j]['page_url']+"</option>";
                            $("#status").prepend(html);
                        }
                    
                    
                }
            });
    });

$("select#gname").change(function(){
        var gid = $(this).val();
        $("#page").empty();
       $.ajax({
                type: "GET",
                url: "<{:url('package/addget')}>",
                data: {'gid': gid},
                async: false,
                error: function (request) {
                    layer.msg('网络错误', {icon: 1});
                },
                success: function (data) {
                    if(data['url'].search(",") != -1){
                        var res = data['url'].split(",");
                        for(j = 0,len=res.length; j < len; j++) {
                            var html = "<option  value='"+res[j]+"'>"+res[j]+"</option>";
                            $("#page").prepend(html);
                        }
                    }else{
                        var html = "<option  value='"+data['url']+"'>"+data['url']+"</option>";
                        $("#page").prepend(html);
                    }
                    
                }
            });
    });
</script>
</body>
</html>
