
    <!DOCTYPE html>
    <html id='html'><head><meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <title>剑侠问情3</title>
    <meta name='viewport' content='width=720, user-scalable=no'>
    <meta name='format-detection' content='telephone=no'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <link href='__STATIC__/census/lmsy/swiper-3.css' rel='stylesheet' type='text/css'>
    <link href='__STATIC__/census/vim/css/swiper-3.4.1.min.css' rel='stylesheet' type='text/css'>
    <link href='__STATIC__/census/vim/css/index.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <div id="container">
    <section class="content "><header>
    <img src='/static/census/cs/1.jpg'>
    </header><div class="position2" id="x"><img src='/static/census/cs/2.jpg' style='width:720px'><img src='/static/census/cs/3.jpg' style='width:720px'>
    </div> <div class="bg" style="padding-bottom:30px;">
            <div class="swiper-container swiper1 swiper-container-horizontal">
                <div class="swiper-wrapper"
                     style="transform: translate3d(-2810px, 0px, 0px); transition-duration: 0ms;"><div class='swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev'
                 style='width: 562px;'><img src='/static/census/cs/4-1.jpg'></div><div class='swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev'
                 style='width: 562px;'><img src='/static/census/cs/4-2.jpg'></div><div class='swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev'
                 style='width: 562px;'><img src='/static/census/cs/4-3.jpg'></div>    </div>
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev "></div>
                <div class="swiper-button-next"></div>
            </div>
        </div><div class="position2" ><img src='/static/census/cs/5.jpg' style='width:720px'><img src='/static/census/cs/6.jpg' style='width:720px'><img src='/static/census/cs/7.jpg' style='width:720px'>
    </div></section>
    </div>
    <script src="__STATIC__/census/vim/jquery-2.1.4.min.js.下载" type="text/javascript"></script>
    <script src="__STATIC__/census/vim/swiper-3.4.1.min.js.下载" type="text/javascript"></script>
    <script type="text/javascript" src="__STATIC__/census/vim/touchSwipe.min.js.下载"></script>
    <script type="text/javascript" src="__STATIC__/census/vim/main.js"></script>
    <script type="text/javascript" src="__STATIC__/census/vim/down.js"></script>
    <script src="__STATIC__/census/vim/mobile-detect.min.js"></script>
    </body>
    </html>